{% extends 'base.html' %}
{% from 'components/skill_input.html' import skill_input %}

{% block content %}
<form method="post" action="{{ url_for('result') }}">
    <div class="accordion" id="questFormAccordion">
        <div class="accordion-item">
            <div class="accordion-header" id="skillSelectHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#skillSelectCollapse" aria-expanded="true" aria-controls="skillSelectCollapse">
                    Enter your current skills
                </button>
            </div>
            <div id="skillSelectCollapse" class="accordion-collapse collapse show" aria-labelledby="skillSelectHeading" data-bs-parent="#questFormAccordion">
                <div class="accordion-body">
                    <div class="row row-cols-3">
                        {% for skill in skills %}
                        <div class="col">{{ skill_input(skill) }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="questSelectHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#questSelectCollapse" aria-expanded="false" aria-controls="questSelectCollapse">
                    Select Completed Quests
                </button>
            </h2>
            <div id="questSelectCollapse" class="accordion-collapse collapse" aria-labelledby="questSelectHeading" data-bs-parent="#questFormAccordion">
                <div class="accordion-body">
                    <p>Check everything you've already completed</p>
                    <div class="row row-cols-4">
                        {% for quest_id in quests %}
                        <div class="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="quest_{{ quest_id }}_complete" name="quest_{{ quest_id }}_complete" value="{{ quest_id }}" />
                              <label class="form-check-label" for="quest_{{ quest_id }}_complete">{{ quests[quest_id].name }}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Get Started" />
</form>
{% endblock %}